spring:
  application:
    name: backend
  profiles:
    active: prod   # 기본은 local, Docker/Render에서는 환경변수로 override 가능

  datasource:
    url: jdbc:postgresql://postgres:5432/communicare
    username: postgres
    password: postgres

  flyway:
    enabled: true                 # (기본 true) 부팅 시 자동 마이그레이션
    locations: classpath:db/migration
    schemas: communicare          # Flyway가 실행할 스키마 지정
    baseline-on-migrate: true     # 기존 DB에 테이블이 있을 수도 있으면 true 권장
    validate-on-migrate: true
    clean-disabled: false         # 실서버 안전장치: clean 금지

  jpa:
    hibernate:
      ddl-auto: validate          # Flyway와 함께 사용시 검증만 수행
    show-sql: true                # 콘솔에 실행 SQL 출력
    properties:
      hibernate:
        format_sql: true
        default_schema: communicare
        jdbc.time_zone: UTC
        type: 
          preferred_enum_type: pgsql_enum

# JWT Configuration
jwt:
  issuer: "Communicare-Backend"
  secret-key: "bXkgdmVyeSBzZWNyZXQga2V5IHRoYXQgc2hvdWxkIGJlIGxvbmcgZW5vdWdoIGZvciBicm9rZW4gYW5kIHNob3VsZCBiZSBiYXNlNjQgZW5jb2RlZCBzbyBpdCBpcyBzYWZlIGVub3VnaCBmb3Igam10"
  access-token-ttl-ms: 3600000  # 1 hour
  refresh-token-ttl-ms: 604800000  # 7 days

# Swagger/OpenAPI Configuration
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method

